.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #3b578f;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #F9C80A;
}

.App-header h1 {
  margin:2vh;
  vertical-align: middle;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.App-menu {
  background-color: #282c34;
  position:absolute;
  left: 0px;
  width: 13%;
  color: white;
  height: 100%;
}

.App-menu ul {
  width: 100%;
  padding: 0px;
}

.App-menu li {
  width: 100%;
  padding: 8px 0px 8px 30px;
  list-style-type: none;
  text-align: left;
  font-size: calc(10px + 2vmin);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  margin:0px;
}

.App-menu li:hover {
  background-color: #3b578f;
}

.App-link {
  color: #61dafb;
}

.mainContent {
  display: inline-block;
  width: 100%;
  margin-left: 400px;
}

.mainContent form {
  text-align: left;
}

.mainContent label {
  padding:20px;
}

.mainContent input {
  margin:20px;
}

#binList li {
  width: 100%;
  padding: 8px 0px 8px 30px;
  list-style-type: none;
  text-align: left;
  font-size: calc(10px + 2vmin);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#binList span {
  padding: 0px 30px;
}
